<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="考核项目">
    <test name="注册接口">
        <classes>
            <class name="cases.Register"></class>
            <parameter name="sheetIndex" value="0"></parameter>
        </classes>
    </test>
    <test name="登录接口">
        <classes>
            <class name="cases.Login"></class>
            <parameter name="sheetIndex" value="1"></parameter>
        </classes>
    </test>
    <test name="配置列表">
        <classes>
            <class name="cases.Configures"></class>
            <parameter name="sheetIndex" value="2"></parameter>
        </classes>
    </test>
    <test name="项目列表">
        <classes>
            <class name="cases.Projects"></class>
            <parameter name="sheetIndex" value="3"></parameter>
        </classes>
    </test>
    <test name="新值项目">
        <classes>
            <class name="cases.AddProject"></class>
            <parameter name="sheetIndex" value="4"></parameter>
        </classes>
    </test>
</suite>